#contact {
    height: 70px;
    background-color: #314C5F;
}

.socials {
    margin: 0 0.5rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 200;
}

.cont-head {
    color: #bff3f5;
}

@media screen and (max-width: 450px) {
    .socials {
        font-size: 0.8rem;
    }
    .socials > img {
        height: 20px;
    }
}